<div class="container">
<!-- apprentice info start -->
  <%= form_for @apprentice_evaluation do |f| %>
    <div class="">
      <%= f.text_field :fullname, placeholder: "Full Name", :class => 'apprentice-info', required: true %>
    </div>
    <div class="">
      <%= f.text_field :email, placeholder: "Email", :class => 'apprentice-info', required: true %>
    </div>
    <div class="">
      <span><%= f.text_field :projectrepo, placeholder: "Project Repo", :class => 'apprentice-info', required: true %>
      </span>
    </div>
    <div class="">
      <span><%= f.text_field :projecturl, placeholder: "Project Url", :class => 'apprentice-info', required: true %>
      </span>
    </div>
<!-- apprentice info end -->

<!-- skills list -->
  <div class="skills-container">
    <%= f.fields_for :skills_attributes do |s| %>
        <div class="skills col-xs-12 p-0">
          <div class="col-xs-12 col-sm-8 col-md-9 pl-0">
            <%= s.label "Using Best Practices For OOP:", class: "skills-name" %>
          </div>
          <div class="col-sm-4 col-md-3 p-0">
            <%= s.number_field :oop_practices, class: "h-100 skills-value form-control", min: 0, max: 10, required: true %>
          </div>
        </div>

        <div class=" skills">
          <span>
            <%= s.label "Modular Development:", :class => "col-sm-10 h-100 skills-name" %>
          </span>
          <span>
            <%= s.number_field :modular_dev, :class => "col-sm-2 h-100 h-100 skills-value form-control" %>
          </span>
        </div>

        <div class=" skills">
          <span> <%= s.label "Fullstack Workflow Understanding:", :class => "col-sm-10 h-100 skills-name" %>
          </span>
          <span>
            <%= s.number_field :fullstack_understanding, :class => "col-sm-2 h-100 skills-value form-control" %>
          </span>
        </div>

        <div class=" skills">
          <span> <%= s.label "Testing:", :class => "col-sm-10 h-100 skills-name" %>
          </span>
          <span>
            <%= s.number_field :testing, :class => "col-sm-2 h-100 skills-value form-control" %>
          </span>
        </div>

        <div class=" skills">
          <span> <%= s.label "Database Knowledge:", :class => "col-sm-10 h-100 skills-name" %>
          </span>
          <span>
            <%= s.number_field :db_knowledge, :class => "col-sm-2 h-100 skills-value form-control" %>
          </span>
        </div>

        <div class=" skills">
          <span> <%= s.label "Debugging:", :class => "col-sm-10 h-100 skills-name" %>
          </span>
          <span>
            <%= s.number_field :debugging, :class => "col-sm-2 h-100 skills-value form-control" %>
          </span>
        </div>

        <div class=" skills">
          <span> <%= s.label "Problem Solving Skills:", :class => "col-sm-10 h-100 skills-name" %>
          </span>
          <span>
            <%= s.number_field :problem_solving, :class => "col-sm-2 h-100 skills-value form-control"%>
          </span>
        </div>

        <div class=" skills">
          <span> <%= s.label "Javascript:", :class => "col-sm-10 h-100 skills-name" %>
          </span>
          <span>
            <%= s.number_field :javascript, :class => "col-sm-2 h-100 h-100 skills-value form-control" %>
          </span>
        </div>

        <div class=" skills">
          <span> <%= s.label "HTML:", :class => "col-sm-10 h-100 skills-name" %>
          </span>
          <span>
            <%= s.number_field :html, :class => "col-sm-2 h-100 skills-value form-control" %>
          </span>
        </div>

        <div class=" skills">
          <span> <%= s.label "CSS:", :class => "col-sm-10 h-100 skills-name" %>
          </span>
          <span>
            <%= s.number_field :css, :class => "col-sm-2 h-100 skills-value form-control" %>
          </span>
        </div>

        <div class=" skills">
          <span> <%= s.label "Working on a Team:", :class => "col-sm-10 h-100 skills-name" %>
          </span>
          <span>
            <%= s.number_field :teamwork, :class => "col-sm-2 h-100 skills-value form-control" %>
          </span>
        </div>

        <div class=" skills">
          <span> <%= s.label "Self Motivation:", :class => "col-sm-10 h-100 skills-name" %>
          </span>
          <span>
            <%= s.number_field :self_motivation, :class => "col-sm-2 h-100 skills-value form-control" %>
          </span>
        </div>

        <div class=" skills">
          <span> <%= s.label "Communication Skills:", :class => "col-sm-10 h-100 skills-name" %>
          </span>
          <span><%= s.number_field :communication_skills, :class => "col-sm-2 h-100 skills-value form-control" %>
          </span>
        </div>

        <div class=" skills">
          <span> <%= s.label "My Energy Level:", :class => "col-sm-10 h-100 skills-name" %>
          </span>
          <span> <%= s.number_field :energy, :class => "col-sm-2 h-100 skills-value form-control" %> </span>
        </div>

        <div class=" skills">
          <span> <%= s.label "Intelligence / Aptitude:", :class => "col-sm-10 h-100 skills-name" %>
          </span>
          <span>
            <%= s.number_field :aptitude, :class => "col-sm-2 h-100 skills-value form-control" %>
          </span>
        </div>
    <% end %>
  </div>
<!-- end skills list -->

  <div class=""><%= f.submit 'Submit', :class => 'submit-info' %></div>

  <% end %>
</div>
