<div class="container">
<!-- apprentice info start -->
  <%= form_for @apprentice_evaluation do |f| %>
    <div>
      <%= f.text_field :fullname, placeholder: "Full Name", :class => 'apprentice-info form-control', required: true %>
    </div>
    <div>
      <%= f.text_field :email, placeholder: "Email", :class => 'apprentice-info form-control', required: true %>
    </div>
    <div>
      <%= f.text_field :projectrepo, placeholder: "Project Repo", :class => 'apprentice-info form-control', required: true %>
    </div>
    <div>
      <%= f.text_field :projecturl, placeholder: "Project Url", :class => 'apprentice-info form-control', required: true %>
    </div>
<!-- apprentice info end -->

<!-- skills list -->
  <div class="skills-container">
    <%= f.fields_for :skills_attributes do |s| %>
        <div class="col-xs-12 p-0">
          <div class="col-xs-10 col-md-10 pl-0">
            <%= s.label "Using Best Practices For OOP:", class: "skills-name" %>
          </div>
          <div class="col-xs-2 col-md-2 p-0">
            <%= s.number_field :oop_practices, class: "skills-value form-control p-0", min: 0, max: 3, required: true %>
          </div>
        </div>

        <div class="col-xs-12 p-0">
          <div class="col-xs-10 col-md-10 pl-0">
            <%= s.label "Modular Development:", class: "skills-name" %>
          </div>
          <div class="col-xs-2 col-md-2 p-0">
            <%= s.number_field :modular_dev, class: "skills-value form-control p-0", min: 0, max: 3, required: true %>
          </div>
        </div>

        <div class="col-xs-12 p-0">
          <div class="col-xs-10 col-md-10 pl-0">
            <%= s.label "Fullstack Workflow Understanding:", class: "skills-name" %>
          </div>
          <div class="col-xs-2 col-md-2 p-0">
            <%= s.number_field :fullstack_understanding, class: "skills-value form-control p-0", min: 0, max: 4, required: true %>
          </div>
        </div>

        <div class="col-xs-12 p-0">
          <div class="col-xs-10 col-md-10 pl-0">
            <%= s.label "Testing:", class: "skills-name" %>
          </div>
          <div class="col-xs-2 col-md-2 p-0">
            <%= s.number_field :testing, class: "skills-value form-control p-0", min: 0, max: 3, required: true %>
          </div>
        </div>

        <div class="col-xs-12 p-0">
          <div class="col-xs-10 col-md-10 pl-0">
            <%= s.label "Database Knowledge:", class: "skills-name" %>
          </div>
          <div class="col-xs-2 col-md-2 p-0">
            <%= s.number_field :db_knowledge, class: "skills-value form-control p-0", min: 0, max: 3, required: true %>
          </div>
        </div>

        <div class="col-xs-12 p-0">
          <div class="col-xs-10 col-md-10 pl-0">
            <%= s.label "Debugging:", class: "skills-name" %>
          </div>
          <div class="col-xs-2 col-md-2 p-0">
            <%= s.number_field :debugging, class: "skills-value form-control p-0", min: 0, max: 3, required: true %>
          </div>
        </div>

        <div class="col-xs-12 p-0">
          <div class="col-xs-10 col-md-10 pl-0">
            <%= s.label "Problem Solving Skills:", class: "skills-name" %>
          </div>
          <div class="col-xs-2 col-md-2 p-0">
            <%= s.number_field :problem_solving, class: "skills-value form-control p-0", min: 0, max: 4, required: true %>
          </div>
        </div>

        <div class="col-xs-12 p-0">
          <div class="col-xs-10 col-md-10 pl-0">
            <%= s.label "Javascript:", class: "skills-name" %>
          </div>
          <div class="col-xs-2 col-md-2 p-0">
            <%= s.number_field :javascript, class: "skills-value form-control p-0", min: 0, max: 4, required: true %>
          </div>
        </div>

        <div class="col-xs-12 p-0">
          <div class="col-xs-10 col-md-10 pl-0">
            <%= s.label "HTML:", class: "skills-name" %>
          </div>
          <div class="col-xs-2 col-md-2 p-0">
            <%= s.number_field :html, class: "skills-value form-control p-0", min: 0, max: 4, required: true %>
          </div>
        </div>

        <div class="col-xs-12 p-0">
          <div class="col-xs-10 col-md-10 pl-0">
            <%= s.label "CSS:", class: "skills-name" %>
          </div>
          <div class="col-xs-2 col-md-2 p-0">
            <%= s.number_field :css, class: "skills-value form-control p-0", min: 0, max: 4, required: true %>
          </div>
        </div>

        <div class="col-xs-12 p-0">
          <div class="col-xs-10 col-md-10 pl-0">
            <%= s.label "Working on a Team:", class: "skills-name" %>
          </div>
          <div class="col-xs-2 col-md-2 p-0">
            <%= s.number_field :teamwork, class: "skills-value form-control p-0", min: 0, max: 3, required: true %>
          </div>
        </div>

        <div class="col-xs-12 p-0">
          <div class="col-xs-10 col-md-10 pl-0">
            <%= s.label "Self Motivation:", class: "skills-name" %>
          </div>
          <div class="col-xs-2 col-md-2 p-0">
            <%= s.number_field :self_motivation, class: "skills-value form-control p-0", min: 0, max: 3, required: true %>
          </div>
        </div>

        <div class="col-xs-12 p-0">
          <div class="col-xs-10 col-md-10 pl-0">
            <%= s.label "Communication Skills:", class: "skills-name" %>
          </div>
          <div class="col-xs-2 col-md-2 p-0">
            <%= s.number_field :communication_skills, class: "skills-value form-control p-0", min: 0, max: 3, required: true %>
          </div>
        </div>

        <div class="col-xs-12 p-0">
          <div class="col-xs-10 col-md-10 pl-0">
            <%= s.label "My Energy Levels:", class: "skills-name" %>
          </div>
          <div class="col-xs-2 col-md-2 p-0">
            <%= s.number_field :energy, class: "skills-value form-control p-0", min: 0, max: 3, required: true %>
          </div>
        </div>

        <div class="col-xs-12 p-0 mb-2">
          <div class="col-xs-10 col-md-10 pl-0">
            <%= s.label "Intelligence / Aptitude:", class: "skills-name" %>
          </div>
          <div class="col-xs-2 col-md-2 p-0">
            <%= s.number_field :aptitude, class: "skills-value form-control p-0", min: 0, max: 3, required: true %>
          </div>
        </div>
    <% end %>
  </div>
<!-- end skills list -->

  <div class="send"><%= f.submit 'Submit', class: 'submit-info form-control' %></div>

  <% end %>
</div>
