<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Tim! </h1>
    <p>Here is the output of Denise's input.</p>

    <div>
      <%= @apprentice_evaluation.fullname%>
      <br>
      <%= @apprentice_evaluation.email%>
      <br>
      <%= @apprentice_evaluation.projectrepo %>
      <br>
      <%= @apprentice_evaluation.projecturl %>
      <br>
      <% @apprentice_evaluation.skills.each do |skill| %>
      <br>
        <%= skill.oop_practices%>
        <br>
      <% end %>
    </div>

  <p> Total skill score is: <%= @apprentice_evaluation.skill_total %></p>
  </body>
</html>
